# search-engine/target
.vscode
DB
*.db
*.lg
search-engine/target/crawler-1.1-javadoc.jar
search-engine/target/crawler-1.1.jar
search-engine/target/maven-javadoc-plugin-stale-data.txt
search-engine/target/apidocs/allclasses-index.html
search-engine/target/apidocs/allpackages-index.html
search-engine/target/apidocs/element-list
search-engine/target/apidocs/help-doc.html
search-engine/target/apidocs/index-all.html
search-engine/target/apidocs/index.html
search-engine/target/apidocs/jquery-ui.overrides.css
search-engine/target/apidocs/member-search-index.js
search-engine/target/apidocs/module-search-index.js
search-engine/target/apidocs/overview-summary.html
search-engine/target/apidocs/overview-tree.html
search-engine/target/apidocs/package-search-index.js
search-engine/target/apidocs/script.js
search-engine/target/apidocs/search.js
search-engine/target/apidocs/stylesheet.css
search-engine/target/apidocs/tag-search-index.js
search-engine/target/apidocs/type-search-index.js
search-engine/target/apidocs/hk/ust/csit5930/CrawlerApplication.html
search-engine/target/apidocs/hk/ust/csit5930/H2DBOperator.html
search-engine/target/apidocs/hk/ust/csit5930/H2DBSetup.html
search-engine/target/apidocs/hk/ust/csit5930/package-summary.html
search-engine/target/apidocs/hk/ust/csit5930/package-tree.html
search-engine/target/apidocs/hk/ust/csit5930/package-use.html
search-engine/target/apidocs/hk/ust/csit5930/Spider.html
search-engine/target/apidocs/hk/ust/csit5930/class-use/CrawlerApplication.html
search-engine/target/apidocs/hk/ust/csit5930/class-use/H2DBOperator.html
search-engine/target/apidocs/hk/ust/csit5930/class-use/H2DBSetup.html
search-engine/target/apidocs/hk/ust/csit5930/class-use/Spider.html
search-engine/target/apidocs/hk/ust/csit5930/mapper/DBSetupMapper.html
search-engine/target/apidocs/hk/ust/csit5930/mapper/package-summary.html
search-engine/target/apidocs/hk/ust/csit5930/mapper/package-tree.html
search-engine/target/apidocs/hk/ust/csit5930/mapper/package-use.html
search-engine/target/apidocs/hk/ust/csit5930/mapper/PageMapper.html
search-engine/target/apidocs/hk/ust/csit5930/mapper/class-use/DBSetupMapper.html
search-engine/target/apidocs/hk/ust/csit5930/mapper/class-use/PageMapper.html
search-engine/target/apidocs/hk/ust/csit5930/model/package-summary.html
search-engine/target/apidocs/hk/ust/csit5930/model/package-tree.html
search-engine/target/apidocs/hk/ust/csit5930/model/package-use.html
search-engine/target/apidocs/hk/ust/csit5930/model/Page.html
search-engine/target/apidocs/hk/ust/csit5930/model/Relationship.html
search-engine/target/apidocs/hk/ust/csit5930/model/class-use/Page.html
search-engine/target/apidocs/hk/ust/csit5930/model/class-use/Relationship.html
search-engine/target/apidocs/legal/COPYRIGHT
search-engine/target/apidocs/legal/jquery.md
search-engine/target/apidocs/legal/jqueryUI.md
search-engine/target/apidocs/legal/LICENSE
search-engine/target/apidocs/resources/glass.png
search-engine/target/apidocs/resources/x.png
search-engine/target/apidocs/script-dir/jquery-3.6.1.min.js
search-engine/target/apidocs/script-dir/jquery-ui.min.css
search-engine/target/apidocs/script-dir/jquery-ui.min.js
search-engine/target/classes/hk/ust/csit5930/App.class
search-engine/target/classes/hk/ust/csit5930/utils/CosSim.class
search-engine/target/classes/hk/ust/csit5930/utils/Crawler.class
search-engine/target/classes/hk/ust/csit5930/utils/SearchEngine.class
search-engine/target/classes/hk/ust/csit5930/utils/TextProcessor.class
search-engine/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
search-engine/target/maven-archiver/pom.properties
search-engine/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
search-engine/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
search-engine/target/classes/hk/ust/csit5930/App.class
search-engine/target/classes/hk/ust/csit5930/utils/CosSim.class
search-engine/target/classes/hk/ust/csit5930/utils/Crawler.class
search-engine/target/classes/hk/ust/csit5930/utils/SearchEngine.class
